.mydiv
{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  gap: 30px;
}
.greendiv
{
  width: 4px;
  background-color: green;
  height: 400px;
}